/* SELECTORES */

/* SELECTORES SIMPLES */
/* Selectores elementales */
        
/* 
    Selector Universal -> *
*/
/* *{
    background-color: black;
} */
/*
    Selectores de tipo o de etiqueta -> (Nombre de la Etiqueta)
*/
h2{
    background-color:darkred;
}

p{
    background-color: chartreuse;
}

ul{
    background-color: cornflowerblue;
}

li{
    background-color: darkgoldenrod;
}

nav{
    margin-bottom: 15px;
}
/* Selectores de atributo */
/* 
    Selectores de atributo -> id
*/
#subtitle{
    background-color:lightskyblue;
}

/* 
    Selectores de atributo -> clase
*/
.text{
    background-color: red;
}

/* 
    Selectores otros atributos
*/

/* [atributo] */

[href]{
    font-size: 20px;
}

/* [atributo="valor"] */
[href="#post1"]{
    background-color: red;
}
[href="#post2"]{
    background-color: orange;
}
[href="#post3"]{
    background-color: yellow;
}
[href="#post4"]{
    background-color: lime;
}
[href="#post5"]{
    background-color: blue;
}
[href="#post6"]{
    background-color: blueviolet;
}
[href="#post7"]{
    background-color: magenta;
}

/*
Selecciona al valor que inicio con ese nombre
[atributo^="valor"] 
 */
[href^="enlace"]{
    background-color: green;
}


/*
Selecciona al valor que coincida no importa pero 
tiene que estar el valor en el atributo
[atributo*="valor"] 
 */
[href*="info"]{
    background-color: black;
}

/*
Selecciona a la palabra final que tiene un valor
[atributo$="valor"] 
 */
[href$="ether"]{
    background-color: aquamarine;
}

[class $= "first"]{
    background-color: darkgray;
}

[class $= "second"]{
    background-color: darkolivegreen;
}

/*
Selecciona a la palabra que tiene un guion despues
[atributo|="valor"] 
 */
[lang|="en"]{
    background-color: darkslateblue;
}


/* SELECTORES COMPUESTOS */ 
    /* Selectores agrupados */
    /* Selectores combinadores */
    /* PseudoClases - PseudoElementos */

/* Selector agrupado se toma todas las clases
    que tengan una coincidencia de estilos y 
    se optimiza
    se llama a las clases separando con una 
    "," cada elemeto
 */
.texto ,.texto-2 ,.texto-3 ,.texto-4{
    background-color:steelblue;
}